.d-flex{
  display: flex;
}

.d-flex-column{
  flex-direction: column;
}

.d-flex-row{
  flex-direction: row;
}

.d-flex-center{
  justify-content: center;
  align-items: center;
}

.d-flex-justify-center{
  justify-content: center;
}

.d-flex-align-center{
  align-items: center;
}

.d-flex-align-top{
  align-items: flex-start;
}

.d-flex-space-between{
  justify-content: space-between;
}

.d-flex-space-around{
  justify-content: space-around;
}

.text-bold{
  font-weight: bold;
}

.text-color-white{
  color: white;
}

.nav{
  background-color: #C08DBB;
}

h3, h1{
  font-family: Arial, Helvetica, sans-serif;
  font-size: x-large;
}

.padding-right-10{
  padding-right: 10px;
}

.margin-right-10{
  margin-right: 10px;
}

.margin-right-20{
  margin-right: 20px;
}

.margin-left-10{
  margin-left: 10px;
}

.margin-left-20{
  margin-left: 20px;
}

.margin-right-50{
  margin-right: 50px;
}

a{
  text-decoration: none;
  color: #000;
  font-family: Arial, Helvetica, sans-serif;
  font-size: x-large;
  color: white;
}

.login-button-anchor{
  text-decoration: none;
  background-color: #5B94EB;
  padding: 10px;
  border-radius: 1px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: x-large;
}

.input-field{
  color: rgb(182, 182, 182);
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-family: Arial, Helvetica, sans-serif;
}

.w-200{
  width: 200px;
}

p{
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
}

.input-field-file{
   background-color: #C08DBB;
  color: white;
  padding: 0.5rem 1rem;
  font-size: 0.95rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Hide the default file input */
input[type="file"] {
  display: none;

}

/* Style the custom label as a button */
.file-label {
  background-color: #F3ADE9;
  color: white;
  padding: 0.5rem 1.2rem;
  border-radius: 0.375rem;
  cursor: pointer;
  font-size: 0.95rem;
  font-weight: 500;
  transition: background-color 0.2s ease;
   font-family: Arial, Helvetica, sans-serif;
}

.file-label:hover {
  background-color: #5B94EB;
}

/* Style for displaying selected file name */
.file-name {
  margin-left: 1rem;
  font-size: 0.9rem;
  color: #374151;
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
   font-family: Arial, Helvetica, sans-serif;
}
